# Please do not manually edit this file, just use add.py instead
{"trigger": "Bonjour", "answer": "Bonjour, quel est votre nom?"}
{"trigger": "ça va?", "answer": "Oui et toi?"}
{"trigger": "tu fais quoi?", "answer": "rien et toi?"}
{"trigger": "Quel est mon nom?", "answer": "Vous vous appelez %n"}
